{% extends "referalsite/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Профиль</h2>
        {% if user %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Ваша информация</h5>
                <p class="card-text"><strong>Номер телефона:</strong> {{ user.phone_number }}</p>
                <p class="card-text"><strong>Ваш код приглашения:</strong> {{ user.invite_code }}</p>

                {% if user.activated_invite_code %}
                    <p class="card-text"><strong>Активирован код приглашания:</strong> {{ user.activated_invite_code }}</p>
                {% else %}
                    <p class="card-text text-muted">Вы не можете активировать код больше.</p>
                {% endif %}
            </div>
        </div>

        {% if not user.activated_invite_code %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Активировать код приглашения</h5>
                <form method="post" action="{% url 'activate_invite' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="invite_code" class="form-label">Введите код</label>
                        <input type="text" class="form-control" id="invite_code" name="invite_code" placeholder="ABC123" maxlength="6" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Активировать</button>
                </form>
            </div>
        </div>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ваши приглашенные пользователи </h5>
                {% if invited_users %}
                    <ul class="list-group list-group-flush">
                        {% for invited_user in invited_users %}
                            <li class="list-group-item">{{ invited_user.phone_number }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="card-text text-muted">Вы никого не пригласили</p>
                {% endif %}
            </div>
        </div>
        {% else %}
            <p>Нет пользователей.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Действия</h5>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}